#content{
    padding: 10px;
    flex: 1;
    background-color: white;
    border-radius: 10px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.titleContent{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.titleContent2{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: lightyellow;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 250px;
}

.musicCard{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}

.musicCardInfo{
    padding: 10px;
}

.musicCardAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.musicCardAuthorImage{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.musicCardChord{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.musicCardDate{
    padding: 10px;
    display: flex;
    justify-items: flex-end;
    align-items: flex-start;
}

.chord{
    padding: 3px 10px 3px 10px;
    margin: 3px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}